<style>
    body{
      position:relative;
    }
    .whitespace {
      float:left;
      background-color: white;
      border-style: solid;
      border-color: gray;
      border-width: 1px;
      width: 60%;
      margin-left: 2%;
      margin-top: 0%;
      min-height: 200px;
    }
    .helper {
      float:left;
      background-color:Salmon;
      border-style: solid;
      border-width: 1px;
      width: 17%;
      min-height: 200px;
    }
    td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 5px;
    background-color: white;
    font-size: 10px;
    }
    table{
      font-family: arial, sans-serif;
      border-collapse: collapse;
    }
    .articledetails{
      position: relative;
      top: 10px;
      left: 10px;
    }
    .button{
      float: left;
      padding: 5px;
      margin-top: 4px;
      background-color: salmon;
      border-style: solid;
      border-width: 1.5px;
      border-color: black;
      cursor: pointer;
    }
    .tooltipper{
      float: left;
      margin-top: 14px;
      margin-left: 5%;
    }
    .tooltipper2{
      float: left;
      margin-top: 14px;
      margin-left:20%;
    }
    .tooltipper .tooltip{
      visibility: hidden;
      background-color: #555;
      color: #fff;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s;
    }
    .tooltipper:hover .tooltip{
      visibility: visible;
      opacity: 1;
    }
    .showforum{
      float: left;
      padding: 5px;
      margin-top: 4px;
      background-color: salmon;
      border-style: solid;
      border-width: 1.5px;
      border-color: black;
      width: 95%;
      text-align: center;
      font-size:8px;
      cursor:pointer;
    }
</style>

<div class="helper">
    <table class="articledetails">
      <caption><b>Article Details</b></caption>
      <tr>
        <th width="10px">BSID</th>
        <th width="140px">{{article.bsid}}</th>
      </tr>
      <tr>
        <th>Title</th>
        <th>{{article.title}}</th>
      </tr>
      <tr>
        <th>Language</th>
        <th>{{article.language}}</th>
      </tr>
      <tr>
        <th>Progress</th>
        <th></th>
      </tr>
      <tr>
        <th>Author</th>
        <th>{{article.creator}}</th>
      </tr>
      <tr>
        <th>Type</th>
        <th>{{article.type}}</th>
      </tr>
      <tr>
        <th>Versions</th>
        <th>{{article.bestek}}</th>
      </tr>
      <tr>
        <th>Format</th>
        <th>{{article.format}}</th>
      </tr>
      <tr>
        <th>Attachments</th>
        <th><a href="">examplerevitfamily.rfa</a> <button style="float:right;">+</button></th>
      </tr>
    </table>
    <nav class="tooltipper">
      
      <nav class="button" (click)="showcommentinput()">
        <img src="../assets/images/comment.png" alt="comment" style="width:20px;height:20px;border:0;" />
      </nav>
    </nav> 
    <nav class="tooltipper">
      
      <nav class="button">
        <a [routerLink]="['/edit',getthisbestek(),getthistype(),getthisformat(),getthisid()]">
        <img src="../assets/images/edit.png" alt="edit" style="width:20px;height:20px;border:0;" />
        </a>
      </nav>
    </nav>
    <nav class="tooltipper">
      
      <nav class="button" (click)="ohnoes()">
        <img src="../assets/images/delete.png" alt="thrash" style="width:20px;height:20px;border:0;" />
      </nav>
    </nav>
    <nav class="tooltipper">
      
      <nav class="button">
        <img src="../assets/images/plus.png" alt="plus" style="width:20px;height:20px;border:0;" />
      </nav>
    </nav>
    <nav class="tooltipper">
      <nav class="button">
        <img src="../assets/images/forum.png" alt="forum" style="width:20px;height:20px;border:0;" (click)="showcomments()"/>
      </nav>
    </nav>
    <br/><br/><br/>
    <span class="showforum" (click)="showcomments()"><b>{{buttonname}}</b>
      <!---dropdown component comments of the article here-->
    </span>
  </div>
  <div *ngIf="opencommenteditor">
    <app-commentinput [article]="this.article"></app-commentinput>
  </div>
  <div *ngIf="openforum">
    <!---here comes the other version toggles-->
    <ul *ngFor="let article of altarticles">
      <div><app-alternateclick [article]="article"></app-alternateclick></div>
      
    </ul>
  </div>