<style>
  .container {
    float:left;
    background-color: salmon;
    border-style: solid;
    border-color: orangered;
    border-width: 1px;
    width: 45%;
    margin-left: 40px;
    margin-top:10px;
    padding-bottom:20px;
    max-height: 280px;
  }
  .textcontent {
    text-align: left;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
  }
  .smalltext {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
  }
  .singlecommentcontainer {
    height: fit-content;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 42%;
    height:30px;
    margin-right: 8px;
    margin-bottom:7px;
    float: left;
  }
  .singlecommentcontainer2 {
    height: fit-content;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 90%;
    height:30px;
  }
  .viewbutton {
    width:15%;
    float:left;
    height: 30px;
    cursor: pointer;
  }
  .commentdetails {
    width: 85%;
    float: left;
    height: auto;
  }
  .commentitself {
    width: 50%;
    float:right;
  }
  .temporaryfix{
    margin-top:-9px;
    margin-right:-9px;
  }
  ul{
    white-space:nowrap;
  }
</style>

<div class="container" style="height: fit-content;">
  <nav>
    <p class="textcontent">
      <b>{{updatearticlesamount}} Update requests</b>
    </p>
  </nav>
  <div style="overflow:auto;max-height: 200px;">
    <ul *ngFor="let article of this.updatearticleslist">
      <div class="singlecommentcontainer">
        <section class="viewbutton">
          <a [routerLink]="['/request',article.bestek,article.type,article.format,article.id.toString()]">
          <img src="../assets/images/view.png" style="width:30px;height:30px;border-width:1px;border-color:black;border-style:solid;">
          </a>
        </section>
        <section class="commentdetails">
          <div class="smalltext" style="border-width:1px;border-color:black;border-style:solid;height:30px;">
            BSID: {{article.bsid}}
            <br>
            Title:{{article.title}}
          </div>
        </section>
      </div>
    </ul>
  </div>
</div>

<div class="container">
  <nav>
    <p class="textcontent">
      <b>{{newarticlesamount}} New article requests</b>
    </p>
  </nav>
  <div style="overflow:auto; max-height: 200px;">
    <ul *ngFor="let article of newarticleslist" >
      <div class="singlecommentcontainer">
        <section class="viewbutton">
          <a [routerLink]="['/request',article.bestek,article.type,article.format,article.id.toString()]">
          <img src="../assets/images/view.png" style="width:30px;height:30px;border-width:1px;border-color:black;border-style:solid;">
          </a>
        </section>
        <section class="commentdetails">
          <div class="smalltext" style="border-width:1px;border-color:black;border-style:solid;height:30px;">
            BSID: {{article.bsid}}
            <br>
            Title:{{article.title}}
          </div>
        </section>
        <section class="commentitself">
          <div class="temporaryfix">
          </div>
        </section>
      </div>
    </ul>
  </div>
</div>

<div class="container" style="height:180px;">
  <nav>
    <p class="textcontent">
      <b>Manage roles</b>
      <img src="../assets/images/plus.png"style="cursor:pointer;margin-top:-5px;margin-right:20px;float:right;width:30px;height:30px;border-width:1px;border-color:black;border-style:solid;">
      <b style="float:right;">    Add new</b>
    </p>
  </nav>
  <div>
    <ul *ngFor="let role of newroleslist">
      <div class="singlecommentcontainer2" style="margin-top:-14px;">
        <section style="float:left;width:24%;">
          <div class="smalltext" style="margin-top:-10px;">
          <p>
            <b>{{role.title}}:</b> 
          </p>
          </div>
        </section>
        <section>
          <div class="smalltext">
            {{role.currentusers.length}} current users: {{role.currentusers[0].username}}
            <br>Permissions: {{role.permissions}}
          </div>
        </section>
        <section style="float:right;margin-top:-28px;">
            <img src="../assets/images/edit.png"style="cursor:pointer;float:right;width:30px;height:30px;border-width:1px;border-color:black;border-style:solid;">
        </section>
      </div>

    </ul>
  </div>
</div>

<div class="container" style="height:180px;overflow: auto;">
    <nav>
      <p class="textcontent">
        <b>Manage users</b>
        <img src="../assets/images/plus.png"style="cursor:pointer;margin-top:-5px;margin-right:20px;float:right;width:30px;height:30px;border-width:1px;border-color:black;border-style:solid;">
        <b style="float:right;">    Add new</b>
      </p>
    </nav>
    <div>
      <ul *ngFor="let user of newuserslist">
        <div class="singlecommentcontainer2" style="margin-top:-14px;">
          <section style="float:left;">
            <img src={{user.picture}} style="cursor:pointer;margin-top:-5px;margin-right:20px;float:right;width:30px;height:30px;border-width:1px;border-color:black;border-style:solid;">
          </section>
          <section style="float:left;">
            <div class="smalltext">
              <b>{{user.username}}:</b> {{user.role}}
            </div>
          </section>
          <section style="float:right;margin-top:-2px;">
            <a [routerLink]="['/usereditor']">
              <img src="../assets/images/edit.png"style="cursor:pointer;float:right;width:30px;height:30px;border-width:1px;border-color:black;border-style:solid;">
            </a>
          </section>
        </div>
      </ul>
    </div>
  </div>

