<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<style>
.container {
      float:left;
      background-color:Salmon;
      border-style: solid;
      border-width: 1px;
      border-color:black;
      width: 40%;
      min-height: 500px;
      margin-left: 30px;
      padding:30px;
  }
  .whitespace{
    float:left;
    background-color: white;
    width:750px;
    height:70px;
    border-color:black;
    border-style:solid;
    border-width:1px;
  }
  .articledetails{
    width:93%;
    margin-left:3%;
    border-style:solid;
    border-color:black;
    border-width:2px;
    height:170px;
  }
  td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 5px;
    background-color: white;
    font-size: 10px;
    width:fit-content;
  }
  table{
      font-family: arial, sans-serif;
      border-collapse: collapse;
      margin-left:2px;
      margin-top:2px;
      margin-bottom:2px;
  }
  .button{
    float: left;
    padding: 5px;
    margin-top: 4px;
    background-color: salmon;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    cursor: pointer;
    margin-left:50px;
  }
  .description{
    background-color: white;
  }
</style>

<body>
  <div class="container">
    <div class="articledetails">
      <nav style="float:left;">
      <table>
        <tr>
          <th>BSID</th>
          <th><input type="text" [(ngModel)]="article.bsid" style="width:200px;"></th>
        </tr>
        <tr>
          <th>Title</th>
          <th><input type="text" [(ngModel)]="article.title" style="width:200px;"></th>
        </tr>
        <tr>
          <th>Language</th>
          <th><input type="text" [(ngModel)]="article.language" style="width:200px;"></th>
        </tr>
        <tr>
          <th>Progress</th>
          <th><input type="text" style="width:200px;"></th>
        </tr>
        <tr>
          <th>Last revision</th>
          <th><input type="text" style="width:200px;"></th>
        </tr>
      </table>
      </nav>
    </div>
    <div class="description">
      <app-ngx-editor [placeholder]="article.description" [spellcheck]="true" [(ngModel)]="article.description"></app-ngx-editor>
    </div>
  </div>
</body>
